/* #ifdef H5 || APP-PLUS */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
th {
  font-weight: normal;
}

th {
  text-align: left;
}

uni-page-head .uni-page-head__title {
  font-weight: normal;
}
/* #endif */
/*
page {
  div,
  p,
  h1,
  h2,
  h3,
  h4,
  label {
    line-height: 100%;
  }
}
*/
