@import "../../styles/utils/index";

@include c(poster) {
  @include position--fixed(50%, null, null, 50%);

  transform: translateX(-50%) translateY(-50%);
  z-index: map-get($z-indexes, c-poster);
  margin-top: px2rpx(-20px);

  @include e(image) {
    @include size(px2rpx(560px), px2rpx(876px));

    border-radius: px2rpx(16px);
    display: block;
    overflow: hidden;

    img {
      @include size(px2rpx(560px), px2rpx(876px));

      display: block;
    }
  }

  @include c(close) {
    @include position--absolute(px2rpx(-92px), 0);
  }

  @include c(button) {
    @include position--absolute(null, null, px2rpx(-50px - 76px), 50%);

    transform: translateX(-50%);

    @include c(icon) {
      position: relative;
      top: px2rpx(3px);
      margin-right: px2rpx(10px);
    }
  }
}
