@import "~sass-utils/mobile/utils/variables";

// 图片地址
$image-url: "~vue-mobile/assets/images";

// 颜色
$colors: (
  white: #fff,
  black: #303133,
  primary: #0e6af9,
  secondary: #0e6af9,
  thirdary: #0e6af9,
  success: #07c260,
  warning: #ff9900,
  error: #fb5252,
  placeholder: #dcdfe6,
  gray1: #f5f7fa,
  gray2: #f2f6fc,
  gray3: #ebeef5,
  gray4: #e4e7ed,
  gray5: #dcdfe6,
  gray6: #c0c4cc,
  gray7: #909399,
  gray8: #606266,
  gray9: #303133,
);

// 原生 tab-bar 高度
$tab-bar-height: 90px;

// z-index
$z-indexes: (
  c-filter: 2,
  c-tabs: 3,
  c-overlay: 1001,
  c-dialog: 1002,
  c-popup: 1002,
);

// avatar
$c-avatar: (
  widths: 168px,
);

// button
$c-button: (
  widths: 690px,
  heights: $pxes,
  __bottom-wrap-padding: 30px,
  --at-bottom: 30px,
);

// icon
$c-icon: (
  items: (
    (
      icon: logo,
      width: 160px,
      height: 160px,
    ),
    (
      icon: empty,
      width: 282px,
      height: 220px,
    ),
    (
      icon: drop,
      width: 20px,
      height: 20px,
    ),
    (
      icon: more,
      width: 20px,
      height: 20px,
    ),
    (
      icon: close,
      width: 40px,
      height: 40px,
    ),
  ),
);

// submit-bar
$c-submit-bar: (
  height: 96px,
  __submit-width: 290px,
);

// table
$c-table: (
  border-color: map-get($colors, gray2),
  th-widths: 0px,
);

// title
$c-title: (
  --md-height: 36px,
  --bg-height: 48px,
);

// grid
$o-grid: (
  paddings: $pxes,
);
