@import "~sass-utils/mobile/utils/variables";

// 图片地址
$image-url: "~vue-mobile/assets/images";

// 颜色
$colors: (
  c11: white,
  c12: black,
  c21: #1da677,
  c31: #f5f7fa,
  c32: #f2f6fc,
  c33: #ebeef5,
  c34: #e4e7ed,
  c35: #dcdfe6,
  c36: #c0c4cc,
  c37: #909399,
  c38: #606266,
  c39: #303133,
);

// z-index
$z-indexes: (
  c-filter: 2,
  c-tabs: 3,
  c-overlay: 1001,
  c-dialog: 1002,
  c-popup: 1002,
);

// avatar
$c-avatar: (
  widths: 168px,
);

// button
$c-button: (
  widths: 0px,
  heights: 0px,
  --at-bottom: 30px,
);

// icon
$c-icon: (
  items: (
    (
      icon: logo,
      width: 160px,
      height: 160px,
    ),
    (
      icon: empty,
      width: 220px,
      height: 144px,
    ),
    (
      icon: drop,
      width: 20px,
      height: 20px,
    ),
    (
      icon: more,
      width: 20px,
      height: 20px,
    ),
    (
      icon: close,
      width: 40px,
      height: 40px,
    ),
  ),
);

// submit-bar
$c-submit-bar: (
  height: 96px,
  __submit-width: 290px,
);

// table
$c-table: (
  border-color: map-get($colors, c32),
  th-widths: 0px,
);

// tag
$c-tag: (
  heights: 0px,
  border-radii: 0px,
);

$c-title: (
  --md-height: 36px,
  --bg-height: 48px,
);
