@include c(big-title) {
  position: relative;
  line-height: 100%;
  text-align: center;

  &::after {
    @include position--absolute(null, null, 0, 50%);
    @include size(px2rpx(60px), px2rpx(4px));

    transform: translateX(-50%);
    border-radius: px2rpx(4px);
    display: block;
    content: "";
    background-color: map-get($colors, c21);
  }
}
