@font-face {
  font-family: "c-iconfont"; /* Project id 2609217 */
  src: url("https://at.alicdn.com/t/font_2609217_y1b2a3xzk0m.woff2?t=1623555067589")
      format("woff2"),
    url("https://at.alicdn.com/t/font_2609217_y1b2a3xzk0m.woff?t=1623555067589")
      format("woff"),
    url("https://at.alicdn.com/t/font_2609217_y1b2a3xzk0m.ttf?t=1623555067589")
      format("truetype");
}

.c-iconfont {
  font-family: "c-iconfont" !important;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-iconfont--auto:before {
  content: "\e652";
}

.c-iconfont--bluetooth:before {
  content: "\e6b2";
}

.c-iconfont--ok:before {
  content: "\e653";
}

.c-iconfont--add:before {
  content: "\e62a";
}

.c-iconfont--start:before {
  content: "\e60b";
}

.c-iconfont--stop:before {
  content: "\e60c";
}

.c-iconfont--reload:before {
  content: "\e7d3";
}

.c-iconfont--bluetooth-off:before {
  content: "\e840";
}
